body {
	background-color: #bbb;
	font-family: monospace;
	user-select: none;
	image-rendering: pixelated;
}

h1, h2 {
	margin: 0; color: #444
}

p {
	font-size: 18px;
}

#stats {
	font-size: 50px;
	position: relative;
	z-index: 2;
	display: none;
	width: calc(50vw - 380px);
	min-width: 100px;
}

#keybinds {
	display: none;
}

#levelStats {
	position: relative;
	z-index: 4;
	width: calc(50vw - 380px);
	min-width: 100px;
}

#grid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.5,1.5);
	background-color: white;
}

#overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 750px;
	height: 750px;
	background-color: rgba(0,0,0,0.2);
	z-index: 3;
}

#finishMessage {
	position: absolute;
	top: 225px;
	left: 225px;
	width: 300px;
	height: 350px;
	background-color: #aaa;
	box-sizing: border;
	border: 4px solid #444;
	border-radius: 12px;
}

#levelSelect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #888;
	background-image: linear-gradient(#bbb, black);
	background-attachment: local;
	padding: 10px;
	overflow-y: auto;
}

.levelRow {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.level {
	width: 120px;
	height: 120px;
	background-color: #666;
	box-sizing: border;
	border: 4px solid #444;
	font-size: 80px;
	text-align: center;
	color: #222;
	line-height: 115px;
}

.level:hover {
	cursor: pointer;
}

.row1 {
	box-shadow: 4px 4px #048;
}

.row2 {
	box-shadow: 4px 4px #606;
}

.row3 {
	box-shadow: 4px 4px #b60;
}

.row4 {
	box-shadow: 4px 4px #306;
}

.row5 {
	box-shadow: 4px 4px #40f;
}

.row6 {
	box-shadow: 4px 4px #0b2;
}

.row7 {
	box-shadow: 4px 4px #b30;
}

.row8 {
	box-shadow: 4px 4px #0cc;
}

.row9 {
	box-shadow: 4px 4px #f00;
}

.row10 {
	box-shadow: 4px 4px #f00, 8px 8px #f80;
}

button {
	background-color: #ddd;
	border: 4px solid #444;
	font-size: 24px;
	margin-bottom: 8px;
	margin-right: 8px;
}

button:hover {
	cursor: pointer;
}



#menutoprightcorner {
	position: absolute;
	top: 0px;
	right: 0px;
}
#radd,#cadd {
	display: inline-block;
  font-size: 25px;
	min-width: 30px;
	text-align: center;
}
#rmrow,#addrow{
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-size: cover;
}
#rmrow{
  background:url('./media/rm-row-icon.svg');
}
#addrow{
  background:url('./media/add-row-icon.svg');
}
.editor {
  user-select: none;
  border-spacing: 5px;
}
.editor button {
  color:#ffffff;
  background: #444;
  cursor: pointer;
  height: 40px;
  width: 100%;
  border: 2px solid #f79595;
  border-radius: 5px;
  margin: 2px 0px 0px 0px;
}
#editorControls button{
  min-width: 80px;
}